<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Template</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!-- Navbar Section -->
     
    <div class="navbar">
        <div class="hamburger" onclick="toggleSidebar()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <!-- Sidebar Section -->
     
    <div class="sidebar" id="sidebar">
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event, 'f1Dropdown')">F1 (WIP)</a>
            <div class="dropdown-content" id="f1Dropdown">
                <a href="#">Home</a>               
                <a href="#">Countdown</a>
                <a href="/f1/standings/index.html">Drivers</a>
                <a href="#">Constructors</a>
                <a href="#">Timings</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event, 'f2Dropdown')">F2 (WIP)</a>
            <div class="dropdown-content" id="f2Dropdown">
                <a href="#">Home</a>               
                <a href="#">Countdown</a>
                <a href="#">Drivers</a>
                <a href="#">Constructors</a>
                <a href="#">Timings</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event, 'f3Dropdown')">F3 (WIP)</a>
            <div class="dropdown-content" id="f3Dropdown">
                <a href="#">Home</a>               
                <a href="#">Countdown</a>
                <a href="#">Drivers</a>
                <a href="#">Constructors</a>
                <a href="#">Timings</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event, 'f1AcademyDropdown')">Acad (WIP)</a>
            <div class="dropdown-content" id="f1AcademyDropdown">
                <a href="#">Home</a>               
                <a href="#">Countdown</a>
                <a href="#">Drivers</a>
                <a href="#">Constructors</a>
                <a href="#">Timings</a>
            </div>
        </div>
        <div class="stream-button">
            <a href="#" class="dropdown-toggle">Stream (WIP)</a>
        </div>        
    </div>

    <script src="script.js"></script>
</body>
</html>
