/* Basic styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: margin-left 0.3s;
}

.navbar {
    background-color: #333;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
}

.hamburger .line {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #111;
    padding-top: 60px;
    transition: left 0.3s ease-in-out;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    padding: 20px;
    margin-top: 60px; /* Ensure content doesn't go behind navbar */
    transition: margin-left 0.3s;
}

/* Active state for sidebar */
.sidebar.active {
    left: 0;
}

.content.active {
    margin-left: 250px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
    }

    .content.active {
        margin-left: 0;
    }
}
